/*!
 =========================================================
 * Card 
 =========================================================
*/
 

.separator {
  color: #c5a47e;
  margin: 0 auto 20px;
  max-width: 240px;
  text-align: center;
  position: relative;
}
.separator:before, .separator:after {
  display: block;
  width: 40%;
  content: " ";
  margin-top: 10px;
  border: 1px solid #c5a47e;
}
.separator:before {
  float: left;
}
.separator:after {
  float: right;
}

.separator-danger {
  color: #e78b90;
}
.separator-danger:before, .separator-danger:after {
  border-color: #e78b90;
}

p.description {
  font-size: 16px;
  color: #777777;
}

a:hover, a:focus {
  text-decoration: none;
}

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0;
}

.ui-slider-handle:focus,
.navbar-toggle {
  outline: 0 !important;
}



.avatar {
  border: 3px solid #c5a47e;
  border-radius: 50%;
  overflow: hidden;
  max-width: 110px;
  margin: 0 auto;
}
.avatar img {
  width: 100%;
  height: auto;
}

.avatar-danger {
  border-color: #e78b90;
}

*::selection {
  background: #e78b90;
  color: #FFFFFF;
}

.form-control {
  margin-bottom: 1.875em;
}


.card .icon {
  font-size: 75px;
  line-height: 75px;
}
.card .icon ~ h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}


.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-font-smoothing: antialiased;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  color: #444444;
  padding: 10px 10px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  border: 1px solid #777777;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  border-color: #E3E3E3;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control {
  color: #7accb8;
}
.has-success .form-control:focus {
  border-color: #7accb8;
}
.has-error .form-control {
  color: #e78b90;
}
.has-error .form-control:focus {
  border-color: #e78b90;
}
.form-control + .form-control-feedback {
  border-radius: 6px;
  font-size: 14px;
  margin-top: -7px;
  position: absolute;
  right: 10px;
  top: 50%;
  vertical-align: middle;
}
.open .form-control {
  border-radius: 4px 4px 0 0;
  border-bottom-color: transparent;
}

.input-lg {
  height: 55px;
  padding: 16px 32px;
}

.has-error .form-control-feedback {
  color: #e78b90;
}

.has-success .form-control-feedback {
  color: #7accb8;
}

.input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
}
.has-success .input-group-addon, .has-error .input-group-addon {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
}
.has-error .form-control:focus + .input-group-addon {
  border-color: #e78b90;
  color: #e78b90;
}
.has-success .form-control:focus + .input-group-addon {
  border-color: #7accb8;
  color: #7accb8;
}
.form-control:focus + .input-group-addon, .form-control:focus ~ .input-group-addon {
  background-color: #FFFFFF;
  border-color: #777777;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: 0 none;
}

.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child) {
  border-left: 0 none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #E3E3E3;
  color: #888888;
  cursor: not-allowed;
}

.form-control-plain {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding: 8px 0;
  font-size: 16px;
  background-color: transparent;
  border-color: #E3E3E3;
  resize: vertical;
}
.form-control-plain:focus {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #777;
}

.form-control:focus::-webkit-input-placeholder {
  color: rgba(119, 119, 119, 0.3);
}



.section {
  padding: 50px 0;
  position: relative;
  background-color: #FFFFFF;
}

.section-gray {
  background-color: #EEEEEE;
  padding: 70px 0;
}

.section-white {
  background-color: #FFFFFF;
}

.section {
  position: relative;
}
.section .title-area {
  max-width: 760px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #777777;
}
.section [class*="col-"] .title-area {
  padding: 0;
}
.section .text-area {
  padding: 4.375em 0;
  position: relative;
  z-index: 3;
  display: block;
}
.section .text-area .description,
.section .text-area .description p {
  font-size: 16px;
  color: #777777;
}



.section .parallax,
.section .static-image {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
}
.section .parallax > img,
.section .parallax .filter > img,
.section .static-image > img,
.section .static-image .filter > img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  z-index: 1;
}
.section .parallax-small {
  height: 65vh;
}
.section .responsive-background {
  position: relative;
  background-color: #c5a47e;
  padding: 0;
  z-index: 1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 80vh;
}
.section .nav > li {
  display: inline-block;
}



.section-our-team .text-area {
  padding-bottom: 0;
}

.filter {
  position: relative;
  height: 100%;
  color: #FFFFFF;
}
.filter:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 3;
  content: "";
  opacity: .7;
  background: #333;
}
.filter .title-area .description {
  color: #FFFFFF;
}
.filter .separator {
  color: #FFFFFF;
}
.filter .separator:before, .filter .separator:after {
  border-color: #FFFFFF;
}
.filter.filter-color-black:before {
  background: #333;
}



.footer-big {
  padding-top: 30px;
}
.footer-big hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-big .container > hr {
  margin-top: 50px;
}
.footer-big .copyright {
  margin: 10px 0px 20px;
}
.footer-big .social-area > * {
  margin: 0 15px;
}
.footer-big nav > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer-big nav > ul li {
  float: none;
}
.footer-big nav > ul .btn {
  margin-bottom: 5px;
}
.footer-big nav > ul .btn-social.btn-simple {
  padding: 0 0 4px 0;
}
.footer-big .form-group {
  margin-top: 15px;
}
.footer-big .numbers h4 {
  margin: 0 0 10px 0;
}


.card {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card:not(.card-plain):not(.card-price):hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}
.card .subtitle-black {
  color: #141414;
}
.card a {
  opacity: .85;
}
.card:hover .header {
  opacity: 1;
}
.card h2 {
  margin-top: 0;
}
.card img {
  max-width: 100%;
}
.card .header img {
  border-radius: 4px;
}
.card .image-header,
.card .header img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.card .image-header.image-full,
.card .header img.image-full {
  border-radius: 4px;
}
.card .row .image-header,
.card .row .header img {
  width: 100%;
  border-radius: 4px;
}
.card .btn {
  margin-top: 15px;
}
.card > img {
  border-radius: 4px;
}
.card .title {
  margin-bottom: 5px;
  color: #333333;
}
.card .description {
  font-size: 13px;
}

.card-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card-member .content {
  padding: 25px;
}
.card-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.card-white {
  background: #FFFFFF;
}

.card-plain {
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.card-plain .image-header {
  border-radius: 4px;
}


.section-clients-3 .nbs-flexisel-inner:before {
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left-color', endColorstr='$right-color',GradientType=1 );
  /* IE6-9 */
  left: 0;
}
.section-clients-3 .nbs-flexisel-inner:after {
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left-color', endColorstr='$right-color',GradientType=1 );
  /* IE6-9 */
  right: 0;
}


/* HOME PAGE */
.section .image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: absolute;
  display: block;
}

.section-get-started,
.section-header-freebie,
.section-our-team-freebie {
  padding-bottom: 0;
}
.section-get-started .container,
.section-header-freebie .container,
.section-our-team-freebie .container {
  position: relative;
  z-index: 100;
  display: block;
  margin-top: 30vh;
  text-align: center;
}
.section-get-started .title-header,
.section-header-freebie .title-header,
.section-our-team-freebie .title-header {
  text-transform: none;
}
.section-get-started .button-contact,
.section-header-freebie .button-contact,
.section-our-team-freebie .button-contact {
  padding: 25px 0 17px;
}
.section-get-started .text-description,
.section-header-freebie .text-description,
.section-our-team-freebie .text-description {
  color: #fff;
  margin: 40px auto;
  max-width: 760px;
}
.section-get-started .text-white,
.section-header-freebie .text-white,
.section-our-team-freebie .text-white {
  color: #fff;
}
.section-get-started .text-gold,
.section-header-freebie .text-gold,
.section-our-team-freebie .text-gold {
  color: #c5a47e;
}
.section-get-started .parallax,
.section-get-started .static-image,
.section-header-freebie .parallax,
.section-header-freebie .static-image,
.section-our-team-freebie .parallax,
.section-our-team-freebie .static-image {
  height: auto;
}
.section-get-started .image,
.section-header-freebie .image,
.section-our-team-freebie .image {
  height: 100%;
}

.section-get-started {
  padding: 0;
}
.section-get-started .container {
  margin: 15vh auto;
}

.section-contact-4 .parallax,
.section-our-services .parallax {
  height: 450px;
}

.section-our-projects-fluid .row [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.section-our-projects-fluid .row [class^="col-"] .project {
  margin-bottom: 0;
}

.section-our-projects .project {
  margin-bottom: 30px;
}

.member .description {
  min-height: 100px;
}

.section-our-clients-freebie .nav-text,
.section-our-clients .nav-text {
  margin: 30px auto;
  text-align: center;
}

.section-our-clients-freebie .nav-text li,
.section-our-clients .nav-text li {
  margin: 0 10px 10px 0;
}

.section-our-clients .nav-text li a img {
  width: 120px;
}

.section-our-clients-freebie .tab-content,
.section-our-clients .tab-content {
  text-align: center;
  max-width: 760px;
  min-height: 130px;
  margin: 0 auto;
}

.section-our-clients-freebie .tab-content p.large,
.section-our-clients .tab-content p.large {
  color: #777777;
}

.section-contact-4 {
  padding: 0;
}

/* END HOME */
/* FREEBIE */
.section-header-freebie {
  padding: 0;
}

.section-our-team-freebie .container {
  margin-top: 14vh;
  margin-bottom: 50px;
}

.card p {
  min-height: 0;
}

.section-our-clients-freebie .list-logos img {
  position: inherit;
  top: 0;
  left: 0;
  opacity: none;
  -webkit-transform: none;
  transform: none;
}
.section-our-clients-freebie .list-logos img:hover {
  opacity: 1;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.section-our-clients-freebie .nav-text > li.active a {
  border-bottom: 0;
  opacity: 1;
}
.section-our-clients-freebie .nav-text > li.active a .image-clients img {
  opacity: 1;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.image-clients {
  width: 90px;
  margin: 0 auto;
  margin-right: 8px;
  margin-left: 8px;
}

.image-clients img,
.author img {
  width: 100%;
}

