body,html{
    width:100%;
    height:100%;
}
.logo{
    max-width: 200px; 
}

body{font-family:Muli,Helvetica,Arial,sans-serif
}
a{
    color:#fdcc52;
    -webkit-transition:all .35s;
    -moz-transition:all .35s;
    transition:all .35s
}
a:focus,a:hover{
    color:#fcbd20
}
hr{
    max-width:100px;
    margin:25px auto 0;
    border-width:1px;
    border-color:rgba(34,34,34,.1)
}
hr.light{
    border-color:#fff
}
h1,h2,h3,h4,h5,h6{
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;
    letter-spacing:1px
}
p{
    font-size:18px;
    line-height:1.5;
    margin-bottom:20px
}
section{
    padding:30px 0
}
section h2{
    font-size:50px
}


#mainNav{
    border-color:rgba(34,34,34,.05);
    background-color:#0F0F0F;
    -webkit-transition:all .35s;
    -moz-transition:all .35s;
    transition:all .35s;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;
    letter-spacing:1px;
    opacity: 0.9;
}
#mainNav .navbar-brand{
    color:#fdcc52;
    font-family:Catamaran,Helvetica,Arial,sans-serif;
    font-weight:200;
    letter-spacing:1px
}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{
    color:#fcbd20
}
#mainNav .navbar-toggler{
    font-size:15px;
    padding:1px 2px;
    color:#EBE5E5
}
#mainNav .navbar-nav>li>a{
    font-size:11px;
    font-family:Lato,Helvetica,Arial,sans-serif;
    letter-spacing:2px;text-transform:uppercase
}
#mainNav .navbar-nav>li>a.active{
    color:#fdcc52!important;
    background-color:transparent
}
#mainNav .navbar-nav>li>a.active:hover{
    background-color:transparent
}
#mainNav .navbar-nav>li>a,#mainNav .navbar-nav>li>a:focus{
    color:#AFAEAE
}
#mainNav .navbar-nav>li>a:focus:hover,#mainNav .navbar-nav>li>a:hover{
    color:#fdcc52
}




header.masthead{
    position:relative;
    padding-top:65px;
    padding-bottom:0px;
}

@media (min-width:992px){
    header.masthead{
        padding-top:65px;
        padding-bottom:0px;
    }
}

section.about{
    position: relative;

}
section.about h2{
    font-size:35px;
}
section.about .badges .badge-link img{
    height:60px
}
@media (min-width:768px){
    section.about h2{
        font-size:50px
    }
}



/* ############ FUNDO FIXO TRASPARENTE ########### */
.bg-fixo . bg.fixo1 .img-src{
    background-attachment: scroll;
}
.bg-fixo{
    background-image: url('/img/mac.png');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top:0px;
}
.bg-fixo1{
    background-image: url('/img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-top:0px;
    color: white;
}
.display-5{
    color: white;
    text-align: center;
}
/* ############ FIM FUNDO FIXO TRASPARENTE ########### */

section.produtos {
    padding:10px;
    padding-top: 50px;
}
section.produtos h2{
    font-size:35px;
}
section.produtos .card{
    margin-top: 10px;
}

section.produtos .feature-item{
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
}
@media (min-width:768px){
    section.produtos h2{
        font-size:50px;
    }
    section.produtos {
        padding:50px;
    }
}



section.servicos {
    padding:10px;
    padding-top: 50px;
}
section.servicos h2{
    font-size:35px;
}
section.servicos .card{
    margin-top: 10px;
}
@media (min-width:768px){
    section.servicos h2{
        font-size:50px
    }
    section.servicos {
        padding:50px;
    }
}


section.contact{
    text-align:center
}
section.contact h2{
    margin-top:0;
    margin-bottom:25px
}
section.contact h2 i{
    color:#dd4b39
}



footer{
    padding:25px 0;
    text-align:center;color:rgba(255,255,255,.3);
    background-color:#222;

}
.footer-links{
    padding-top: 20px;
}
.footer-sobre{
    text-decoration:none;
    font-size: 13px;
    text-align:justify;
    padding-top: 20px;
}
.footer-icones{
    padding-left: 80px;
    text-align: justify;
}
#footer1{
    position: auto;
}
footer p{
    font-size:12px;
    margin:0
}
footer ul{
    margin-bottom:0
}
footer ul li a{
    font-size:12px;
    color:rgba(255,255,255,.3)
}
footer ul li a.active,footer ul li a:active,footer ul li a:focus,footer ul li a:hover{
    text-decoration:none
}




.bg-primary{
    background:#fdcc52;
    background:-webkit-linear-gradient(#fdcc52,#fdc539);
    background:linear-gradient(#fdcc52,#fdc539)
}
.text-primary{
    color:#fdcc52
}
.text-cinza{
    color:#272522
}
.no-gutter>[class*=col-]{
    padding-right:0;
    padding-left:0
}
.btn-outline{color:#fff;
    border:1px solid;
    border-color:#fff
}

.bg-whitesmoke{
    background-color: whitesmoke;
}
.btn-outline.active,.btn-outline:active,.btn-outline:focus,.btn-outline:hover{
    color:#fff;
    border-color:#fdcc52;
    background-color:#fdcc52
}
.btn{
    border-radius:300px;
    font-family:Lato,Helvetica,Arial,sans-serif;
    letter-spacing:2px;text-transform:uppercase
}
.btn-xl{
    font-size:11px;
    padding:15px 45px
}


/* ############# PERSONALIZAR ICONS ################## */
/* Style all font awesome icons */
.fa {
    padding: 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0px;
    border-radius: 10%;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.8;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  /* Youtube */
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  /* ############# FIM PERSONALIZAR ICONS ################## */